.container{
    height: 280px;
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    background-image: url('./images/pattern-bg-desktop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-family: var(--font);
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -0.29px;
    font-weight: 500;
    color: white;
}

@media(max-width: 620px){
    .container{
        height: 300px;
        background-image: url('./images/pattern-bg-mobile.png');
        gap: 29px;
    }
    
    .title{
        font-size: 26px;
        letter-spacing: -0.23px;
        line-height: 30px;
    }
}