@font-face {
    font-family: 'rubik';
    src: url('./Assets/Fonts/Rubik-VariableFont_wght.ttf');
}

:root {
    --font: 'rubik';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

body{
    min-height: 100vh;
}
